
body{
    width: 90%;
    height: 950px;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

/*header*/

header{
    width:100%; 
    height: 120px;
    background: linear-gradient(to right, purple,white);
    /* background-image: url(images/vcam_1.jpg);
    background-size:100% 100%; */
    margin-bottom: 80px;    
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
    height: 100%;
}
.logo__image{
    width: 100%;
    height: 120px;    
}
.border-red{
    border: red 1px solid;
}
.title{
    width: 60%;
    text-align: center;
    font-size: 3rem;
    color: white;

}
nav{
    width: 20%;
    text-align: center;
}
nav li{
    width: 60%;
   list-style: none;
}
nav a{
    text-decoration: none;
}
.panier{
    font-size: 40px;
    margin: auto;
    padding: auto;
    color: purple;
}

/*section*/
.blocphotocamera{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    margin:auto;
}

.titre{
    margin-left: 10px;
}
.camera{
    width: 230px;
    height: 241px;
    border-radius: 20px 20px 0 0;
    box-shadow: pink 2px 3px 4px 4px;
}
.camera:hover{
    transform: scale(1.05);
    box-shadow: pink 6px;
}

.camera__image{
    width:100%;
    height: 150px;
    border-radius: 20px 20px 0 0 ;
}
figcaption{
    width: 100%;
    text-decoration: none;
    background: linear-gradient(to right, purple,white);
    
}
section a{
    text-decoration: none;
    color: white;
}
.descriptioncamera{
    display: flex;  
    border: 1px solid purple;   
}
.blocphotocamera1{
    width: 100%;
    margin: auto;
}
.cameraone{
    width: 230px;
    margin: auto;
    height: 241px;
    border-radius: 20px 20px 0 0;
    box-shadow: pink 2px 3px 4px 4px;
}

footer{
    width: 100%;
    height: 120px;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content:space-between;
    text-align: center;
    vertical-align: middle;
    border: 1px solid purple;
    background: black;
    display: flex;    
}
.footer__apropos
{
    width: 100%;
    margin: auto;
    text-decoration: none;
    color: white;
    border-right: 2px solid purple;
}
footer a {
    text-decoration: none;
    color: white;
}
