body{
    width: 90%;
    margin:auto;    
}

header{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;  
    color : black;  
}
.description{
    height: 100px;
}
section{
    width : 90%;
}

.panier{
    width : 30%; 
    font-size: 1.5rem;
    margin: auto;        
    text-align: right;      
}
.panierText{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.caddie{
    margin-right: 10px;
}

.titre{
    width : 60%;
    color: azure;
    font-size: 1.5rem;
    font-weight: 600;
    border : 1px grey;
    background-color: grey;
}

#containerCam2{
    display: flex;
    justify-content: space-around;
}

#containerCam{
    width : 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#containerProduct{
 
    text-align: center;
    display : flex;    
    border : 1px solid black;
}
.descriptionCamera{
width: 44%;
margin: auto;
text-align: left;
};
.commandecam{
    display: flex;
};

.photos{
    width: 85%;
    height: auto;
    text-align: center;
    padding : auto;
}
section{
     text-align: center;
}
footer div a {
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: black; 
    margin-right: 30px;
}

.icone{
    margin-right: 10px;
}    


footer{
    margin-top: 20px;
    text-align: center;
}
/***********************page panier*************************/


.containerRecap{
    background-color: beige;
    display :  flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-basis: 3rem;
    flex-shrink: 1;
}

.montantTotal{
    background-color: blueviolet;
    display :  flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-basis: 3rem;
    flex-shrink: 1;
}

.lepaniervide{
    background-color: #4784 ;
}

.photoPanier{
    width: 100%;
    height: 30px;
    grid-column: 1/6;
}
#containerRecap1{
   justify-content: space-between;
    align-items: center; 
    width : 65%;   
}

.optionPanier{
    width :25%;
    text-align: left;
}
.nomPanier{
    width : 20%;
    height : 30px;
    text-align: left;
}
.prixPanier{
    width : 15%;
    text-align: left;
}
.quantitePanier{
    text-align: left;
    height: 30px;
    
}
.photopanier2{
     width : 20%;
    height : 80px;
    text-align: left;
}
.photoPro{
    width : 400px;
}

.photoPanier
{
    width : 15%;
    height: 80px;   
    object-fit: contain;    
    grid-column: 1;
    grid-row: 1;  
}
.nomcamerapanier{
   width : 20%;
   text-align: left;
}

#commande{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 30px;
}
.containerRecapPan{
    border: solid 1px black;
    justify-content: space-between;
    flex-wrap: wrap;
   display: grid;   
   columns : 15;
   grid-gap : 10px;

}
.containerRecapPanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    text-align: right;
    background-color: whitesmoke;
  
}
.boutonmoins{
    margin: 0;    
}
.boutonSupprimerArticle{
    margin-right: 5px;
}


.optionCamPanier{
    text-align: left;
    width : 120px;
    font-size: smaller;
}

#containerRecapEtTotal{
    display: flex;
}

#valeurTotalPanier{
    border: 3px solid black;
    border-radius: 15px;
    width : 30%;
    margin-left: 10px;
    
}

#containerTotalPanier{
    width: 33%;
    border: 1px solid black;
    margin-left: auto;
    border-radius: 10px;
    background-color :whitesmoke;
}

#TotalPanier{
margin-bottom: 30px;
font-size: 1.5rem;
font-weight: 900;
}
/*Panier Total*/

#totalProd{
    display: flex;
}
#totalProd1{
    width: 50%;
    text-align: left;
}
#totalProd2{
    width : 50%;
}

#Article2{
    text-align: left;
    margin-bottom: 30px;  
    width:40%;
}

#Article, #Article2{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

#Articlebis2{
    width: 46%;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 800;
}
#Article2b{
    width: 68%;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 800;

}

#Articlebis, #article2a{
    width: 40%;
    text-align: left;
    font-size: 1rem;    
}


#totalProd{
    margin-top: 60px;
    font-size: 1.6rem;
    font-weight: bold;
}

/*fin panier Total*/


/*bouton soumettre commande*/
.formulaire2{
    display:flex;
}
.formulaire1{
    width: 50%;    
}
.pourvalid{
    margin-bottom: 20px;
}
.formulaire{
    width: 90%;
    padding: 5px;
    margin-top: 30px;
    background-color:whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
}

.form__submit{
    width : 70%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.form{
    margin-top: 5px;
}

#prenom,#phone,#email,#ville,#adresse,#nom{
    
    border-bottom: 1px solid black;
    border-radius: 10px;
    height: 20px;
}
.cellule{
    width : 130px;
    margin: 10px;
}
.inputvalidation{
    width : 230px;
    height: 30px;    
}
#bouton_envoi{
    background-color: wheat;
    height: 100px;
    border-radius: 30px;
    
    font-weight:bolder;
    box-shadow: 10 20 10 20;
}
.champsobli{
    margin-top: 20px;
}
#quantiteDemandee{
    width :10px;
    text-align: center;
}
#inp{
    width : 53px;
    background-color: tan;
    text-align: center;
}
#lienProduit{
    border : solid 6px white;
    border-radius : 20px;
    height : 250px; 
   width : 250px;  
         
    margin :auto;
    margin-right : 15px;
    margin-top:  20px;
    margin-bottom : 20px;
    text-align: center;

}
#choixSelection{
    width : 130px;
    height : 30px ;
}


/*------------------------- panier html fin-----------------*/

/* ecran <768px */
@media only screen and (max-device-width : 768px)
{

 #lienProduit{
   min-width: 120px;   
    
}
#containerCam2{
    display: flex;
    flex-wrap: wrap;
}
#photoPro{
    width : 100px;
    height : 144px;
    object-fit: cover;
}
#choixSelection{
    width: 120px;
}

}
