body{
    width: 90%;
    margin:auto;    
}

header{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;  
    color : black;  
}
.description{
    height: 100px;
}
section{
    width : 90%;
}

.panier{
    width : 30%; 
    font-size: 1.5rem;
    margin: auto;        
    text-align: right;      
}
.panierText{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.caddie{
    margin-right: 10px;
}

.titre{
    width : 60%;
    color: azure;
    font-size: 1.5rem;
    font-weight: 600;
    border : 1px grey;
    background-color: grey;
}

#containerCam{
    width : 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#containerProduct{
 
    text-align: center;
    display : flex;    
    border : 1px solid black;
}
.descriptionCamera{
width: 44%;
margin: auto;
text-align: left;
};
.commandecam{
    display: flex;
};

.photos{
    width: 85%;
    height: auto;
    text-align: center;
    padding : auto;
}
section{
     text-align: center;
}
footer div a {
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: white; 
    margin-right: 30px;
}

.icone{
    margin-right: 10px;
}    


footer{
    margin-top: 20px;
    text-align: center;
}
